Repository fabiaserra/ayon-shotgrid: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-flow-launcher, build-shotgrid-leecher, build-shotgrid-processor, build-shotgrid-transmitter, update-helm-chart

deploy-flow-launcher:
  tags:
  - mnt-pipe
  image: alpine:latest
  stage: deploy
  needs: []
  script:
  - apk add rsync
  - rsync -avh --chmod=777 --chown=995:776523089 $CI_PROJECT_DIR/flow_launcher/flow_launcher.py /pipe/ayon/flow_launcher/

build-shotgrid-leecher:
  stage: build
  needs:
  - get-version
  dependencies:
  - get-version
  tags:
  - on-prem
  image: docker:25.0.4-cli
  variables:
    SERVICE_NAME: leecher
  services:
  - name: docker:25.0.4-dind
    alias: docker
  before_script:
  ...

build-shotgrid-processor:
  stage: build
  needs:
  - get-version
  dependencies:
  - get-version
  tags:
  - on-prem
  image: docker:25.0.4-cli
  variables:
    SERVICE_NAME: processor
  services:
  - name: docker:25.0.4-dind
    alias: docker
  before_script:
  ...

build-shotgrid-transmitter:
  stage: build
  needs:
  - get-version
  dependencies:
  - get-version
  tags:
  - on-prem
  image: docker:25.0.4-cli
  variables:
    SERVICE_NAME: transmitter
  services:
  - name: docker:25.0.4-dind
    alias: docker
  before_script:
  ...

update-helm-chart:
  before_script:
  - apk add --no-cache git
  - URL_WITH_AUTH="https://gitlab-ci-token:${CI_TOKEN}@$(echo $CI_PROJECT_URL | sed 's|https://||')"
  - git clone "${URL_WITH_AUTH}.git" "${CI_COMMIT_SHA}"
  - git config --global user.email "${GITLAB_USER_EMAIL}"
  ...

Reuse rsync image instead
  .gitlab-ci.yml
Due: none

Deploy all the files from flow_launcher so we have the README and the .desktop file on the location for extra info
  .gitlab-ci.yml
Due: none

Replace .desktop file with install_handler script that will get called through Ansible
  flow_launcher/README.md
  flow_launcher/flow-launcher.desktop
  flow_launcher/flow_launcher.install_handler
Due: deploy-flow-launcher

Update install_handler
  flow_launcher/flow_launcher.install_handler
Due: deploy-flow-launcher

Replace tcsh script to bash
  flow_launcher/flow_launcher.install_handler
Due: deploy-flow-launcher

Fix script to support multiple selected ids which get returned as a comma separated string
  flow_launcher/flow_launcher.py
Due: deploy-flow-launcher

Change flow-launcher protocol to launch a terminal so logs are obvious to user and also append logs to central /ax_logs so other people can debug artist issues
  flow_launcher/README.md
  flow_launcher/flow_launcher.install_handler
Due: deploy-flow-launcher

Expand the README
  flow_launcher/README.md
  flow_launcher/menu_items_flow.png
Due: deploy-flow-launcher

Fix formatting
  client/ayon_shotgrid/version.py
  package.py
  services/processor/processor/processor.py
Due: build-shotgrid-leecher, build-shotgrid-processor, build-shotgrid-transmitter, update-helm-chart

Update Helm chart with new tag [ci skip]
  k8s/ayon_shotgrid/Chart.yaml
  k8s/ayon_shotgrid/values.yaml
Due: none

Bump version to rebuild containers with newer ayon python api
  client/ayon_shotgrid/version.py
  package.py
Due: none

Error out create project CLI if project code doesn't exist
  client/ayon_shotgrid/scripts/create_project.py
  client/ayon_shotgrid/version.py
  package.py
Due: none

First draft at adding better support to sync users by accounting for their project assignments
  client/ayon_shotgrid/version.py
  frontend/dist/shotgrid-addon.js
  package.py
Due: none

Fix initiliaziation url for ayonAPI
  client/ayon_shotgrid/version.py
  frontend/dist/shotgrid-addon.js
  package.py
Due: none

Revert change to try reuse the ayonAPI object
  client/ayon_shotgrid/version.py
  frontend/dist/shotgrid-addon.js
  package.py
Due: none

Fix accessGroups data structure and clean up code
  client/ayon_shotgrid/version.py
  frontend/dist/index.html
  frontend/dist/shotgrid-addon.js
  package.py
Due: none

Add support to sync users from SG after project assignment events and add support to update hierarchy from SG if it changes when syncing project
  client/ayon_shotgrid/addon.py
  client/ayon_shotgrid/scripts/create_project.py
  client/ayon_shotgrid/scripts/sync_users.py
  client/ayon_shotgrid/version.py
  package.py
  services/leecher/leecher/listener.py
  services/shotgrid_common/ayon_shotgrid_hub/__init__.py
  services/shotgrid_common/ayon_shotgrid_hub/match_ayon_hierarchy_in_shotgrid.py
  services/shotgrid_common/ayon_shotgrid_hub/match_shotgrid_hierarchy_in_ayon.py
  services/shotgrid_common/ayon_shotgrid_hub/update_from_shotgrid.py
  services/shotgrid_common/utils.py
Due: build-shotgrid-leecher, build-shotgrid-processor, build-shotgrid-transmitter, update-helm-chart

Update pyproject.toml entries to match reverted package name ayon-python-api
  services/leecher/pyproject.toml
  services/processor/pyproject.toml
  services/transmitter/pyproject.toml
Due: build-shotgrid-leecher, build-shotgrid-processor, build-shotgrid-transmitter, update-helm-chart

Fix integrate shotgrid shot data plugin to work with AYON
  client/ayon_shotgrid/addon.py
  client/ayon_shotgrid/plugins/publish/integrate_shotgrid_shot_data.py
  client/ayon_shotgrid/plugins/publish/integrate_shotgrid_version.py
  client/ayon_shotgrid/version.py
  package.py
Due: none

Path conditions:
  deploy-flow-launcher: any of: flow_launcher/*
  build-shotgrid-leecher: any of: services/**/*
  build-shotgrid-processor: any of: services/**/*
  build-shotgrid-transmitter: any of: services/**/*
  update-helm-chart: any of: services/**/*
